[submodule "submodules/ARiOSUtilities"]
	path = submodules/ARiOSUtilities
	url = git@github.com:appRenaissance/ARiOSUtilities.git
[submodule "submodules/nimbus"]
	path = submodules/nimbus
	url = https://github.com/jverkoey/nimbus
