[submodule "submodules/ARiOSUtilities"]
	path = submodules/ARiOSUtilities
	url = git@github.com:appRenaissance/ARiOSUtilities.git
[submodule "submodules/MBProgressHUD"]
	path = submodules/MBProgressHUD
	url = https://github.com/appRenaissance/MBProgressHUD
[submodule "submodules/MBProgressHUDExtensions"]
	path = submodules/MBProgressHUDExtensions
	url = https://github.com/appRenaissance/MBProgressHUDExtensions.git
