img.icon
{
	height: 25px;
	width: 25px;
}

span.setTime
{
	font-size: 12px;
	float:right;
}

div.artistImage
{
	background-size: 100% 100%;
}

div.newsItem, div.newsDate, div.photoPitDate, div.photoPitAuthorContainer
{
	width:100%;
	font-size: 12px;
}

div.newsDate, div.photoPitDate
{
	color: #FFF;
	padding-left: 5px;
}

div.author
{
	color: #8A8A8A;
}

div.authorImage img
{
	padding: 10px;
}

div.newsContainer
{
	height: 85px;

}

div.author img
{
	height:15px;
}

div.disclosure
{
	position: absolute;
	bottom: 0.22em;
	right: 0.44em;
}

div.photoPitAuthorContainer div.authorImage
{
	float:left;
}

div.moreImage
{
	width: 50px;
}

div.photoPitImage
{
	width: 100%;
    height: 100%;
}

div.photoPitImage img
{
	max-width: 100%;
}

div.photoPitAuthorContainer img
{
	max-width: 50%;
}